/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** TH Custom Styles */
/* Structure */
.th-container {
    position: relative;
    padding: 5px;
}
.th-table {
    width: 100%;
}